@import "../../variables.scss";

.login {
    .block {
        margin-top: 70px;
        margin-bottom: 170px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        width: 61%;
        padding: 30px 50px;
        border-radius: 30px;
        grid-template-columns: repeat(2, 1fr);
        background-color: #f7f7f7;

        @include breakpoint(xxs) {
            padding: 15px 20px;
            margin-top: 50px;
            margin-bottom: 100px;
            width: 80%;
        }

        @include breakpoint(md) {
            display: block;
        }
        .img {
            img {
                width: 20vw;
                margin-top: 5vh;
                margin-bottom: 5vh;
            }
            @include breakpoint(md) {
                display: none;
            }
        }
        .text {
            font-family: $Gotu;
            .welcome {
                font-size: 36px;

                @include breakpoint(xxs) {
                    font-size: 25px;
                }
            }
            .problems {
                font-size: 18px;

                @include breakpoint(xxs) {
                    font-size: 14px;
                }
            }
            .form {
                display: block;
                .email {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    background-color: white;
                    border: 1px solid #ebebeb;
                    padding: 5px 10px;
                    width: min-content;

                    @include breakpoint(md) {
                        width: 40vw;
                        svg{
                            display: none;
                        }
                    }
                    @include breakpoint(xxs) {
                        width: 70vw;
                    }
    
                    input {
                        border: 0;
                        border-bottom: 1px solid black;
                        width: 300px;
                        font-family: $Gotu;
                        @include breakpoint(md) {
                            width: 38vw;
                        }
                        @include breakpoint(xxs) {
                            width: 70vw;
                        }
                    }
                    label {
                        font-size: 12px;
                    }
                }
                .password {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    background-color: white;
                    border: 1px solid #ebebeb;
                    padding: 5px 10px;
                    width: min-content;

                    @include breakpoint(md) {
                        width: 40vw;
                        svg{
                            display: none;
                        }
                    }

                    @include breakpoint(xxs) {
                        width: 70vw;
                    }

                    input {
                        border: 0;
                        border-bottom: 1px solid black;
                        width: 300px;
                        @include breakpoint(md) {
                            width: 38vw;
                        }
                        @include breakpoint(xxs) {
                            width: 70vw;
                        }
                    }
                    label {
                        font-size: 12px;
                    }
                }
                .button {
                    width: min-content;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 30px;
                    margin-bottom: 30px;

                    .login {
                        font-family: $Gotu;
                        font-size: 20px;
                        border: 0px;
                        padding: 10px 40px;
                        border-radius: 30px;
                        background-color: #e5c7f4;
                    }
                }
            }
        }
    }
}
.icon {
    min-width: 70px;
}
