.types{

    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;

    &__add{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 8px;
        p{
            font-size: 18px;
        }
    }

    &__notFound{
        margin-top: 50px;
        &__photo{
            display: flex;
            justify-content: center;
            margin-bottom: 0px;
            img{
                width: 300px;
            }
        }
        h3,h4{
            text-align: center;
        }
    }

    &__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 70px;

        &__card{
            border: 1px solid rgb(194, 194, 194);
            border-radius: 10px;
            width: min-content;
            background-color: #EBEBEB;
            &__titleWithActions{
                display: flex;
                justify-content: space-around;
                align-items: center;
                p{
                    margin: 2px 2px 5px 2px;
                    width: 50%;
                }
                &__actions{
                    display: flex;
                    gap:10px;
                    &__icon{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &__photo{
        border: 1px solid rgb(194, 194, 194);
        border-radius: 10px;
        width: min-content;
        margin-bottom: 20px;
        background-color: #EBEBEB;
        p{
            margin: 2px 2px 5px 2px;
            text-align: center;
        }
        position:relative;
    }
    img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
}
