.admin{
    margin-top: 8px;

    &__add{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 8px;
        p{
            font-size: 18px;
        }
    }
    &__edit_button{
        display: flex;
        justify-content: center;
    }
    &__delete_button{
        display: flex;
        justify-content: center;
    }
    &__admin_table{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-size: 16px;


        &__header{

            &__cell{
                background-color: #f6f6f6;
                text-align: center;
                color: #616161;
                padding: 5px 10px;
                height: 60px;

            }
        }
        &__body{
            &__row{
                &__cell{
                    border: 1px solid white;
                    border-right: 1px solid rgb(219, 219, 219);
                    border-bottom: 1px solid rgb(219, 219, 219);
                    padding: 5px 10px;
                }
            }

            :hover{
                font-weight: bolder;
                background-color: #e2e2e2;
            }
        }
    }
    &__photo{
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: 0 auto;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }
    &__text{
        text-align: center;
    }
}
