.bio {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;

    .photo {
        border: 1px solid rgb(194, 194, 194);
        border-radius: 10px;
        width: min-content;
        background-color: #ebebeb;
        margin-bottom: 15px;
        .edit {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-size: 18px;
            .icon {
                :hover {
                    cursor: pointer;
                }
            }
        }
        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }
    }
    .article {
        padding-bottom: 15px;
        .edit {
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            gap: 20px;
            font-size: 18px;
            text-decoration: underline;
            .icon {
                :hover {
                    cursor: pointer;
                }
            }
        }
    }
    .phoneNumber {
        padding-bottom: 15px;
        .edit {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: max-content;
            font-size: 18px;
            text-decoration: underline;
            .icon {
                :hover {
                    cursor: pointer;
                }
            }
        }
    }
}
