@import "../../../variables.scss";

.types{
    margin-top: 13px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
    a{
        text-decoration: none;
        color:black;
    }
    &__element{
        width: 17vw;
        font-family: $Gotu;
        article{
            position: relative;
        }
        &__img{
            object-fit: cover;
            width: 290px;
            height: 290px;
        }
        &__h1{
            font-size: 18px;
            font-weight: 100;
            text-align: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: fit-content;
            margin: auto;
            padding: 20px;
            background-color: rgba(241, 241, 241, 0.7);
        }
    }
}