@import "../../variables.scss";

.contactForm {
    font-family: $Gotu;
    color: #505050;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 5vh;
    @include breakpoint(xs) {
        display: block;
    }
    input {
        border: none;
        width: 100%;
        border-bottom: 1px solid #b6b6b6;
        @include breakpoint(xs) {
            width: 50%;
        }
        font-family: $Gotu;
        margin-bottom: 3vh;
    }
    &__messageTextarea {
        margin-top: 2vh;
        margin-bottom: 3vh;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-content: center;
        @include breakpoint(xs) {
            justify-content: flex-start;
            padding-left: 3vw;
        }
        textarea {
            border-radius: 10px;
            width: 640px;
            height: 20vh;
            display: block;
            padding: 10px 10px;
            font-size: 16px;
            font-family: $Gotu;
            @include breakpoint(xs) {
                width: 80vw;
            }
        }
        label {
            display: block;
        }
    }

    &__sendButton {
        border: none;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 13px;
        padding: 6px 40px;
        font-size: 14px;
        font-family: $Gotu;
        display: flex;
        margin-left: auto;
    }
}
