.photography {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;

    .add {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 8px;
        p {
            font-size: 18px;
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 70px;
        justify-content: center;

        .card {
            border: 1px solid rgb(194, 194, 194);
            border-radius: 10px;
            width: min-content;
            background-color: #ebebeb;

            .nameWithActions {
                display: flex;
                justify-content: space-between;
                padding-left: 20px;
                padding-right: 20px;

                align-items: center;
                .name {
                    margin: 2px 2px 5px 2px;
                }
                .actions {
                    display: flex;
                    gap: 10px;
                    .icon {
                        cursor: pointer;
                    }
                }
            }
            .type {
                font-size: 14px;
                color: #595959;
                text-align: left;
                margin-top: 0px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .photo {
        border: 1px solid rgb(194, 194, 194);
        border-radius: 10px;
        width: min-content;
        margin-bottom: 20px;
        background-color: #ebebeb;
        p {
            margin: 2px 2px 5px 2px;
            text-align: center;
        }
        position: relative;
    }
    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
}
