@import "../../variables.scss";

.price{
    margin-top: 13px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
    a{
        text-decoration: none;
        color:black
    }
}