@import "../../../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

.answer {
      .textarea {
            border-radius: 10px;
            width: 90%;
            height: 20vh;
            display: block;
            padding: 10px 10px;
            font-size: 16px;
      }
      .button {
            margin-top: 4vh;
            border: none;
            background-color: rgb(0, 0, 0);
            color: white;
            border-radius: 13px;
            padding: 6px 40px;
            font-size: 14px;
            font-family: $Gotu;
            display: flex;
      }
}
