@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

$Gotu: "Gotu", sans-serif;

$dark: rgb(29, 29, 29);
$light: #fff;
$primary: rgb(162, 162, 246);
$gray:rgb(181, 181, 181);
$bg: rgb(244, 244, 255);

$spacing-md: 16px;
$spacing-lg: 32px;

$borderRadius: 12px;

$headerHeight: 60px;

@mixin breakpoint($point) {
    @if $point == burger {
        @media (min-width: 1105px) {
            @content;
        }
    }
    @if $point == nav {
        @media (max-width: 1104px) {
            @content;
        }
    }
    @if $point == lg {
        @media (min-width: 1025px) {
            @content;
        }
    }
    @if $point == md {
        @media (max-width: 1024px) {
            @content;
        }
    }
    @if $point == sm {
        @media (max-width: 879px) {
            @content;
        }
    }
    @if $point == xs {
        @media (max-width: 750px) {
            @content;
        }
    }
    @if $point == xxs {
        @media (max-width: 500px) {
            @content;
        }
    }
    @if $point == xxxs {
        @media (max-width: 400px) {
            @content;
        }
    }
}