@import "../../../../variables.scss";

.edit_home{
    &__backButtonWithTitle{
        display: flex;
        align-items: center; 
        justify-content: space-between;
        width: 55%;
        h3{
            text-align: center;
        }
    }
    &__title{
        p{
            margin-top: 5px;
            padding: 5px 5px;
            border-radius: 10px;
            font-size: 15px;
            width: 250px;
            border: 2px solid rgb(65, 65, 65);
        }
    }
    &__photo{
        h4{
            margin-top: 0px;
        }
        img{
            width: 350px;
            height: 350px;
            object-fit: cover;
            border-radius: 30px;
        }
        &__upload{
            font-family: $Gotu;
            padding: 5px 15px;
            font-size: 16px;
            border: 1px solid black;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
        }
    }
    &__button{
        margin-top: 20px;
        font-family: $Gotu;
        padding: 6px 30px;
        font-size: 21px;
        border-radius: 15px;
        background-color: rgb(30, 30, 30);
        color: azure;
        border-style: double;
        border-color: white;
    }
}